In [1]:
# IMPORTS
import numpy as np
import pandas as pd

#Fin Data Sources
import yfinance as yf
import pandas_datareader as pdr

#Data viz
import plotly.graph_objs as go
import plotly.express as px

import time
from datetime import date

In [26]:
end = date.today()
print(f'Year = {end.year}; month= {end.month}; day={end.day}')

start = date(year=end.year-50, month=end.month, day=end.day)
print(f'Period for indexes: {start} to {end} ')

Year = 2024; month= 4; day=22
Period for indexes: 1974-04-22 to 2024-04-22

In [3]:
# Real Potential Gross Domestic Product (GDPPOT), Billions of Chained 2017 Dollars, QUARTERLY
# https://fred.stlouisfed.org/series/GDPC1
gdpc1 = pdr.DataReader("GDPC1", "fred", start=start)

In [4]:
gdpc1.tail()

                GDPC1
DATE
2022-10-01  21989.981
2023-01-01  22112.329
2023-04-01  22225.350
2023-07-01  22490.692
2023-10-01  22679.255

In [6]:
gdpc1['gdpc1_us_yoy'] = gdpc1.GDPC1/gdpc1.GDPC1.shift(4)-1
gdpc1.tail()

                GDPC1  gdpc1_us_yoy
DATE
2022-10-01  21989.981      0.006517
2023-01-01  22112.329      0.017179
2023-04-01  22225.350      0.023825
2023-07-01  22490.692      0.029269
2023-10-01  22679.255      0.031345

Question 1: Find the average YoY growth in 2023 (average from 4 YoY numbers)

In [24]:
gdpc1[gdpc1.index.year == 2023]['gdpc1_us_yoy'].mean() * 100

2.5404433928676253

Question 2: Find the min value of (dgs10-dgs2) after since year 2000 (2000-01-01) and write it down as an answer, round to 1 digit after the decimal point.

In [27]:
dgs2 = pdr.DataReader("DGS2", "fred", start=start)
dgs10 = pdr.DataReader("DGS10", "fred", start=start)

In [32]:
(dgs10[dgs10.index.year >= 2000]['DGS10'] - dgs2[dgs2.index.year >= 2000]['DGS2']).min()

-1.0800000000000005

Question 3: Compare S&P 500 and IPC Mexico indexes by the 5 year growth and write down the largest value as an answer (%)

In [36]:
# https://finance.yahoo.com/quote/%5EGSPC/
# SNP - SNP Real Time Price. Currency in USD
snp500_daily_non_delayed = yf.download(tickers = "^GSPC",
                     period = "max",
                     interval = "1d")
ipc_mexico = yf.download(tickers = "^MXX",
                     period = "max",
                     interval = "1d")

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [35]:
snp500_daily_non_delayed.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-04-15,5149.669922,5168.430176,5052.470215,5061.819824,5061.819824,3950210000
2024-04-16,5064.589844,5079.839844,5039.830078,5051.410156,5051.410156,4006200000
2024-04-17,5068.970215,5077.959961,5007.250000,5022.209961,5022.209961,3596130000
2024-04-18,5031.520020,5056.660156,5001.890137,5011.120117,5011.120117,3619760000
2024-04-19,5005.439941,5019.020020,4953.560059,4967.229980,4967.229980,3878750000

In [37]:
ipc_mexico.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-04-15,56536.468750,56709.121094,55924.101562,55984.000000,55984.000000,170645700
2024-04-16,56009.730469,56148.000000,55626.750000,55797.250000,55797.250000,225862900
2024-04-17,55788.738281,56090.320312,55383.250000,55415.691406,55415.691406,244258900
2024-04-18,55597.789062,55941.621094,55585.820312,55739.429688,55739.429688,208671900
2024-04-19,55811.191406,56036.718750,55579.691406,55862.851562,55862.851562,138617600

Looking at the last 5 Years data only

In [38]:
snp500_daily_non_delayed = snp500_daily_non_delayed[(snp500_daily_non_delayed.index >='2019-04-09') & 
                                                    (snp500_daily_non_delayed.index <='2024-04-09')]
ipc_mexico = ipc_mexico[(ipc_mexico.index >='2019-04-09') & 
                                                    (ipc_mexico.index <='2024-04-09')]

In [81]:
snp500_daily_non_delayed.tail()

,Open,High,Low,Close,Adj Close,Volume,adj_close_last_year,yoy_growth,adj_close_5_year
Date,,,,,,,,,
2024-04-03,5194.370117,5228.750000,5194.370117,5211.490234,5211.490234,3703250000,4109.310059,NaN,NaN
2024-04-04,5244.049805,5256.589844,5146.060059,5147.209961,5147.209961,4075680000,4124.509766,NaN,NaN
2024-04-05,5158.950195,5222.180176,5157.209961,5204.339844,5204.339844,3386780000,4100.600098,NaN,NaN
2024-04-08,5211.370117,5219.569824,5197.350098,5202.390137,5202.390137,3278180000,4090.379883,NaN,NaN
2024-04-09,5217.029785,5224.810059,5160.779785,5209.910156,5209.910156,3400680000,4105.020020,0.810128,2878.199951

In [51]:
# normally 252 trading days
snp500_daily_non_delayed['adj_close_5_year'] = snp500_daily_non_delayed['Adj Close'].shift(1258)
snp500_daily_non_delayed['yoy_growth'] = snp500_daily_non_delayed['Adj Close'] / snp500_daily_non_delayed['adj_close_5_year'] -1

In [52]:
snp500_daily_non_delayed['yoy_growth']

Date
2019-04-09         NaN
2019-04-10         NaN
2019-04-11         NaN
2019-04-12         NaN
2019-04-15         NaN
                ...
2024-04-03         NaN
2024-04-04         NaN
2024-04-05         NaN
2024-04-08         NaN
2024-04-09    0.810128
Name: yoy_growth, Length: 1259, dtype: float64

In [77]:
end = ipc_mexico[ipc_mexico.index =='2024-04-09']['Adj Close']

In [78]:
start = ipc_mexico[ipc_mexico.index =='2019-04-09']['Adj Close']

In [79]:
end.values, start.values

(array([57571.1484375]), array([45151.62890625]))

In [80]:
end.values[0] / start.values[0] - 1

0.27506249125667437

S&P is doing better recently in comparison

Question 4.Find the largest range ratio [=(max-min)/max] of Adj.Close prices in 2023

In [92]:
sr_daily = yf.download(tickers = "2222.SR",
                     period = "max",
                     interval = "1d")

brk_daily = yf.download(tickers = "BRK-B",
                     period = "max",
                     interval = "1d")

apple_daily = yf.download(tickers = "AAPL",
                     period = "max",
                     interval = "1d")

msft_daily = yf.download(tickers = "MSFT",
                     period = "max",
                     interval = "1d")

google_daily = yf.download(tickers = "GOOG",
                     period = "max",
                     interval = "1d")

jp_morgan_daily = yf.download(tickers = "JPM",
                     period = "max",
                     interval = "1d")

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [85]:
sr_daily.tail()

                 Open       High        Low      Close  Adj Close    Volume
Date
2024-04-15  30.650000  30.799999  30.299999  30.299999  30.299999  16717457
2024-04-16  30.400000  30.450001  29.799999  29.900000  29.900000  24539116
2024-04-17  30.049999  30.150000  29.900000  29.950001  29.950001  16440263
2024-04-18  30.000000  30.049999  29.850000  29.900000  29.900000   7985988
2024-04-21  30.000000  30.200001  29.900000  30.049999  30.049999   8988623

In [98]:
def get_yearly_data(df, year):
    return df[df.index.year == year]

In [99]:
def calculate_llr(df):
    llr = (df['Adj Close'].max() - df['Adj Close'].min()) / (df['Adj Close'].max())
    return llr

In [100]:
sr_2023 = get_yearly_data(sr_daily, 2023)
brk_2023 = get_yearly_data(brk_daily, 2023)
apple_2023 = get_yearly_data(apple_daily, 2023)
msft_2023 = get_yearly_data(msft_daily, 2023)
google_2023 = get_yearly_data(google_daily, 2023)
jp_morgan_2023 = get_yearly_data(jp_morgan_daily, 2023)

In [101]:
sr_lrr = calculate_llr(sr_2023)
brk_llr = calculate_llr(brk_2023)
apple_lrr = calculate_llr(apple_2023)
msft_lrr = calculate_llr(msft_2023)
google_lrr = calculate_llr(google_2023)
jp_morgan_lrr = calculate_llr(jp_morgan_2023)

In [104]:
top_6 = f"""52-weeks range ratio of top 6 Companies by earning in 2023: 
Saudi Aramco: {sr_lrr} 
Berkshire Hathaway: {brk_llr} 
Apple: {apple_lrr} 
Microsoft: {msft_lrr} 
Google: {google_lrr} 
jp_morgan: {jp_morgan_lrr}"""

In [105]:
print(top_6)

52-weeks range ratio of top 6 Companies by earning in 2023:
Saudi Aramco: 0.21393065379760481
Berkshire Hathaway: 0.20775750091289963
Apple: 0.37244419224463476
Microsoft: 0.4242066515530231
Google: 0.3924520921912013
jp_morgan: 0.28249923173202013

Question 5. Find the largest dividend yield for the same set of stocks

In [108]:
# Get actions, incl.dividends.
def get_dividend_data(ticker_name):
    dividend_series = yf.Ticker(ticker_name)
    return dividend_series.get_dividends()

In [111]:
sr_dividends = get_dividend_data("2222.SR")
brk_dividends =  get_dividend_data("BRK-B")
apple_dividends = get_dividend_data("AAPL")
msft_dividends = get_dividend_data("MSFT")
google_dividends = get_dividend_data("GOOG")
jp_morgan_dividends = get_dividend_data("JPM")

In [117]:
sr_dividends_2023 = get_yearly_data(sr_dividends, 2023)
brk_dividends_2023 = get_yearly_data(brk_dividends, 2023)
apple_dividends_2023 = get_yearly_data(apple_dividends, 2023)
msft_dividends_2023 = get_yearly_data(msft_dividends, 2023)
google_dividends_2023 = get_yearly_data(google_dividends, 2023)
jp_morgan_dividends_2023 = get_yearly_data(jp_morgan_dividends, 2023)

In [122]:
jp_morgan_dividends_2023.values.sum()

4.05

In [128]:
sr_2023[sr_2023.index == sr_2023.index.max()]['Adj Close']

Date
2023-12-31    32.828049
Name: Adj Close, dtype: float64

In [139]:
def calculate_div_yeild(div_data, yearly_data):
    div_yield = div_data.values.sum() / yearly_data[yearly_data.index == yearly_data.index.max()]['Adj Close']
    return div_yield.values[0]

In [143]:
sr_dividends_2023_yield = calculate_div_yeild(sr_dividends_2023, sr_2023)
brk_dividends_2023_yield = calculate_div_yeild(brk_dividends_2023, brk_2023)
apple_dividends_2023_yield = calculate_div_yeild(apple_dividends_2023, apple_2023)
msft_dividends_2023_yield = calculate_div_yeild(msft_dividends_2023, msft_2023)
google_dividends_2023_yield = calculate_div_yeild(google_dividends_2023, google_2023)
jp_morgan_dividends_2023_yield = calculate_div_yeild(jp_morgan_dividends_2023, jp_morgan_2023)

In [147]:
top_6_dividend_yields = f"""Dividend Yield for 2023 of top 6 Companies: 
Saudi Aramco: {sr_dividends_2023_yield} 
Berkshire Hathaway: {brk_dividends_2023_yield} 
Apple: {apple_dividends_2023_yield} 
Microsoft: {msft_dividends_2023_yield} 
Google: {google_dividends_2023_yield} 
jp_morgan: {jp_morgan_dividends_2023_yield}"""

In [148]:
print(top_6_dividend_yields)

Dividend Yield for 2023 of top 6 Companies:
Saudi Aramco: 0.027743470474138235
Berkshire Hathaway: 0.0
Apple: 0.004940592304162832
Microsoft: 0.007433143940964608
Google: 0.0
jp_morgan: 0.02409608190645897